<style type="text/css">

.ticket {
padding: 40px;
}

.parent {
  width: 100%;
  text-align: left;
}

.child {
  display: inline-block;
  width: 50%;
}

.ticket-title {
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.ticket-label {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
</style>

<html>
<div class="ticket">
  <h1 class="ticket-title">{{ticketData.companyName}}</h1>

  <div class="parent">
    <div class="child" style="width: 280px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        Passenger Name
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.passenger.firstName}} {{ticketData.passenger.lastName}}</p>
    </div>

    <div class="child" style="width: 280px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        Ticket type
      </h6>
      <p style="margin: 5px" class="ticket-label">
        <span>{{ticketType ticketData.ticketType}}</span>
      </p>
    </div>

    <div class="child" style="width: 100px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        Price
      </h6>
      <p style="margin: 5px" class="ticket-label">
        <span>{{ticketData.price}}</span>
      </p>
    </div>
  </div>
    <hr class="ticket-divider-tag">

  <div style="padding-top: 50px" class="parent">
    <hr>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        From
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.startLocation.townOrMunicipality}},
        {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}</p>
    </div>

    <div class="child" style="width: 190">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        On
      </h6>
      <p style="margin: 5px" class="ticket-label">
      {{date ticketData.selectedDeparture.startLocationDate 'dddd, DD.MM.YYYY'}}</p>
    </div>

    <div class="child" style="width: 90px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        At
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.selectedDeparture.startLocationHour.departureTime}}</p>
    </div>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        To
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.destinationLocation.townOrMunicipality}},
        {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}</p>
    </div>

  </div>
    <hr>
{{#showOrHideElement  ticketData.ticketType}}
  <div style="padding-top: 10px;" class="parent">
    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        From
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.destinationLocation.townOrMunicipality}},
        {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}</p>
    </div>

    <div class="child" style="width: 190">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        On
      </h6>
      <p style="margin: 5px" class="ticket-label">
      {{date ticketData.selectedDeparture.returnLocationDate 'dddd, DD.MM.YYYY'}}</p>
    </div>

    <div class="child" style="width: 90px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        At
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.selectedDeparture.returnLocationHour.departureTime}}</p>
    </div>
    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0" class="ticket-label">
        To
      </h6>
      <p style="margin: 5px" class="ticket-label">{{ticketData.startLocation.townOrMunicipality}},
        {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}</p>
    </div>
  </div>
  <hr>
 {{/showOrHideElement}}
<div style="padding-top: 30px; text-align: center"> <img src="{{myBarcode ticketData.purchasedTicketNo}}"/> </div>
</div>
</html>
